aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
anaconda-anon-usage
annotated-types==0.7.0
archspec
attrs==25.3.0
boltons
Brotli
certifi
cffi
chardet
charset-normalizer
click==8.1.8
conda
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda_package_streaming
contourpy
cryptography
cycler
distro
docker-pycreds==0.4.0
filelock
fonttools
freetype-py
frozendict
frozenlist==1.6.0
fsspec==2025.3.2
gitdb==4.0.12
GitPython==3.1.44
gmpy2
greenlet
idna
Jinja2
joblib==1.4.2
jsonpatch
jsonpointer==2.1
kiwisolver
libmambapy
lightning-utilities==0.14.3
littleutils==0.2.4
MarkupSafe
matplotlib==3.10.1
menuinst
mkl-service==2.4.0
mkl_fft
mkl_random
mpmath
multidict==6.4.3
munkres==1.1.4
networkx
numpy
ogb==1.3.6
outdated==0.2.2
packaging
pandas
pillow
platformdirs
pluggy
propcache==0.3.1
protobuf==6.30.2
psutil==7.0.0
pycairo==1.27.0
pycosat
pycparser
pydantic==2.11.4
pydantic_core==2.33.2
pyg_lib==0.4.0+pt25cu118
pyparsing
PySocks
python-dateutil
pytorch-lightning==2.5.1.post0
pytz
PyYAML
rdkit
reportlab
requests
rlPyCairo
ruamel.yaml
scikit-learn==1.6.1
scipy==1.15.2
sentry-sdk==2.27.0
setproctitle==1.3.6
setuptools==72.1.0
six
smmap==5.0.2
SQLAlchemy
sympy==1.13.1
tensorboardX==2.6.2.2
threadpoolctl==3.6.0
torch==2.5.1
torch-geometric==2.6.1
torch_cluster==1.6.3+pt25cu118
torch_scatter==2.1.2+pt25cu118
torch_sparse==0.6.18+pt25cu118
torch_spline_conv==1.2.2+pt25cu118
torchaudio==2.5.1
torchmetrics==1.7.1
torchvision==0.20.1
tqdm
triton==3.1.0
truststore
typing-inspection==0.4.0
typing_extensions
tzdata
unicodedata2
urllib3
wandb==0.19.10
wheel==0.43.0
yacs==0.1.8
yarl==1.20.0
zstandard